/* Напишите селектор, который выберет абзацы, расположенные внутри дивов div */
div  p 
{
 color: rgb(39, 119, 92);
}

/* Напишите селектор, который выберет все h2, расположенные внутри дивов div. Проверьте ваш селектор */
.a№2 h2{
    color: rgb(209, 57, 57);
}

/* Напишите селектор, который выберет все абзацы p из элемента с id, равным block */
#block p {
    color: blue;
}

/* Напишите селектор, который выберет все h2 из элемента с id, равным block */
#block2 h2{
    color: blue;
}

/* Напишите селектор, который выберет все абзацы p с классом bbb из элемента с id, равным block */
 #block3 p.bbb {
    color: burlywood;
}

/* Напишите селектор, который выберет все h2 с классом bbb из элемента с классом fff. Проверьте ваш селектор на следующем коде: */
 .fff h2.bbb  {
    color: royalblue;
}

#block4 h3, #block4 h2 {
	color: brown;
}